<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My HTML Page</title>
  <link rel="stylesheet" type="text/css" title="Cool stylesheet" href="style.css">
</head>
<body>
Welcome to beachbody Asset system!
use the following to get details of Assets
/assets : To list all assets in the system
/assets/<assetid> : to list details of a particular asset by id.
/assets/<assetname>: to list details of a particular asset by name
/env: to list assets acress all environments by environment
/env/<envmame>: to list assets for a particular environment.
/app : to list assets for a all applications for all environments
/app/<app-name>:to list assets for a particular application across all environments

  Author : Ramesh Ganesan
</body>
</html>
